
/* -----------------------------------------------------------------------------

Maintainer:   jeffskinnerbox@yahoo.com / www.jeffskinnerbox.me
Version:      0.9.5

DESCRIPTION:
    This is a template for the secrets.h file that this program needs to operate.

    Use this use secrets.h to store all of the private credentials and connection
    details, such as, WiFi credentials and passwords

REFERENCE MATERIALS:
    How to safely store Arduino secrets - https://www.andreagrandi.it/2020/12/16/how-to-safely-store-arduino-secrets/

WARNING:
   Make sure to reference 'secrets.h' in .gitignore so that this
   information isn't posted to the web.

CREATED BY:
    jeffskinnerbox@yahoo.com

----------------------------------------------------------------------------- */


#pragma once                                     // compiler to skip subsequent includes of this file

//------------------------------- WiFi Parameters ------------------------------

// wifi ssid, password, and parameters
#define HOSTNAME  "<hostname>"         // hostname
#define WIFISSID  "<my-wifi-ssid>"     // wifi ssid
#define WIFIPASS  "<my-wifi-password>" // wifi password key
#define WIFITIME  10000                // attempt to connect with wifi for 10 seconds then abandon

//------------------------------- OTA Parameters -------------------------------

// ota upload parameterss
#define OTAHOSTNAME "<ota-hostname>"   // ota hostname
#define OTAPASSWORD "<ota-password>"   // ota password
#define OTAPORT "<ota-port>"           // ota port used for upload

// -----------------------------------------------------------------------------

